@model IEnumerable<app.Models.Agencies>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDataPage.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgencyUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.AgencyName)
        </td>
        <td>
         @*@ @Html.DisplayFor(modelItem => item.AgencyUrl)*@
          <a href="@item.AgencyUrl" target="_blank">@item.AgencyUrl</a>
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.AgencyId">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.AgencyId">Details</a>
        </td>
      </tr>
}
    </tbody>
</table>
